.root {
  --color: var(--palette-pink);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 17px;
  border: 1px solid transparent;
}

.root:hover,
.active {
  text-decoration: none;
  cursor: pointer;
  color: var(--theme-button-primary-background-color);

  /*   border-color: var(--theme-button-primary-background-color); */
}

.skinPrimary {
  color: var(--color);
  background: var(--theme-card-bg-color);
}

.skinSecondary {
  color: var(--color);
  background: #33333d;
}

:global(html[data-theme="light"]) .skinSecondary {
}

.sizeSmall {
  padding: 0 0.5rem;
  border-radius: 8px;
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
  border: 1px solid var(--theme-button-primary-background-color);
  background-color: #90cdf429;
}

.sizeMedium {
  padding: 0.375rem 0.5rem;
  border-radius: 12px;
}

.sizeLarge {
  padding: 0.7rem 2rem;
  font-size: 1.2rem;
  border-radius: 25px;
}
