.card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}

.card__relations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  width: 100%;
  margin-bottom: 1.75rem;
}

.card__relation {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  width: 100%;
  border-left: 3px solid #1976d2;
}

.card__relationContent {
  display: flex;
  align-items: flex-start;
}

.card__title {
  font-size: var(--font-size-big-3);
}

.card__title--important {
  font-size: var(--font-size-big-5);
  line-height: 1;
  letter-spacing: -0.05em;
}

.card__titlecentered--important {
  font-size: var(--font-size-big-3);
  line-height: 1.2;
  text-align: center;
}

.card__title {
  font-size: var(--font-size-big-3);
}

.card__side {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.card__side--illustration {
  border-radius: var(--theme-card-border-radius);
  box-sizing: border-box;
  /* background: var(--theme-card-illustration-bg-color); */
}

.card__side--illustration > img {
  height: auto;
}

.card__side--baseline {
  align-self: baseline;
}
.card__side--center {
  align-self: baseline;
}

.card__side--center {
  justify-content: center;
}

.card__cta {
  align-self: baseline;
}

.card__content {
  font-size: 20px;
  margin-bottom: 1rem;
  color: var(--palette-pale-blue);
}

@media (min-width: 997px) and (max-width: 1113px) {
  .card__relations {
    padding: 0 2rem;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2rem;
  }
}

@media (max-width: 996px) {
  .card__relations {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .card {
    margin-bottom: 2rem;
    flex-direction: column-reverse;
    align-items: center;
    /* margin: 1rem; */
  }

  .card--reverse {
    flex-direction: column;
  }

  .card__side {
    max-width: 100%;
    /* align-items: center; */
  }

  .card__side--illustration {
    width: 100%;
    /*     margin: 2rem 0;
    padding: 2rem 3rem; */
  }

  .card__side--baseline {
    align-self: center;
  }

  .card__side--center {
    align-self: center;
  }

  .card__cta {
    align-self: stretch;
  }
  .card__title--important {
    font-size: var(--font-size-big-4);
    text-align: center;
    line-height: 1;
    letter-spacing: -0.05em;
  }

  .card__content {
    font-size: 20px;
    margin-bottom: 1rem;
    color: var(--palette-pale-blue);
    text-align: center;
  }
}
