.contact--container {
  font-size: 1.25rem;
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 1fr;
}

.contact__title {
  grid-column: 2;
}

.contact__info {
  font-size: 1.5rem;
  grid-column: 1;
  grid-row: 2;
  margin-bottom: 40px;
}

.contact__info__paragraph {
  margin-bottom: 30px;
}

.contact--form {
  font-size: 1rem;
  grid-column: 2;
}
.contact__form__textarea {
  font: inherit;
  width: 100%;
  max-width: 100%;
  border: 0;

  padding: 7px 11px;
  height: 128px;
  margin-bottom: 15px;
  background-color: var(--theme-section-odd-bg-color);
}
.contact--form .contact__form__form__block {
  display: flex;
  flex-direction: row;
  grid-gap: 20px;
  margin-bottom: 16px;
}

.contact__form__checkbox {
  display: flex;
  padding-bottom: 10px;
}

.contact_info_prag {
  font-size: var(--font-size-large);
  font-weight: var(--ifm-font-weight-semibold);
}

.contact_info_prag__alt {
  font-size: var(--font-size-normal);
  font-weight: var(--ifm-font-weight-normal);
}
.contact_info_anch {
  font-size: var(--font-size-small);

  font-weight: var(--ifm-font-weight-normal);
}

@media (max-width: 996px) {
  .contact--container {
    grid-template-columns: 1fr;
    width: 90%;
  }
  .contact__title {
    grid-column: 1;
  }
  .contact--form {
    grid-column: 1;
    grid-row: 3;
  }
  .contact--form .contact__form__form__block {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

@media (max-width: 640px) {
  .contact__form__input {
    color: var(--palette-charade);
    width: 200px !important;
  }
  .contact__form__submit__button {
    height: 2.9rem !important;
  }
}

.contact__form__input {
  color: var(--palette-charade);
  width: 240px;
  max-width: 100%;
  border: 0;
  padding: 7px 11px !important;
  background-color: var(--theme-section-odd-bg-color);
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  font: inherit;
  color: var(--palette-charade);
  height: 2.9rem;
  background-color: var(--theme-section-odd-bg-color);
}

.contact__divider {
  height: 8px;

  background-image: linear-gradient(90deg, gray, transparent);

  border: 0;
  height: 1px;
}

.contact__form__submit__button {
  height: 2.9rem;
  padding: 0 1rem;
  font: inherit;
  font-size: 1.25rem;
  color: inherit;
  background-color: var(--palette-darky);
  color: var(--palette-text);
  border: rgb(226, 232, 240);
  cursor: pointer;
  padding: 0.75rem 2rem;
  width: fit-content;

  align-self: flex-start;
  justify-self: flex-end;
  border-radius: 0.5rem;
  font-weight: var(--ifm-font-weight-bold);
  font-size: var(--font-size-xs);
}

.contact__form__cancel__button {
  height: 2.6rem;
  padding: 0 1rem;
  font: inherit;
  font-size: 1.25rem;
  color: inherit;
  background-color: var(--palette-sky);
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.75rem 2rem;
  width: 100%;
  height: 100%;
  align-self: flex-start;
  justify-self: flex-end;
  border-radius: calc(var(--ifm-global-border-radius) / 2);
  font-weight: var(--ifm-font-weight-bold);
  font-size: var(--font-size-xs);
}

.contact__form__cancel__button:hover {
  background: var(--palette-pink);
  background-color: var(--theme-button-primary-hover-background-color);
}

.contact__form__submit__button:hover {
  background: var(--palette-pink);
  background-color: var(--theme-button-primary-hover-background-color);
  color: white;
}
/*
input[type="text"] {
  font: inherit;
  color: var(--palette-charade);
  width: 100%;
  max-width: 100%;
  height: 48px;
  padding: 7px 11px;
  background-color: var(--theme-section-odd-bg-color);
} */

html[data-theme="dark"] .contact__form__textarea {
  color: var(--palette-white);
}

html[data-theme="dark"] .contact__form__input {
  color: var(--palette-white);
}
html[data-theme="dark"] .contact__form__input {
  border-bottom: 1px solid rgb(29, 40, 58);
}

html[data-theme="dark"] input[type="text"] {
  color: var(--palette-white);
}

/* button {
  font: inherit;
  font-size: 1.25rem;
  color: inherit;
  background-color: var(--palette-sky);
  color: white;
  border: none;
  cursor: pointer;
  padding: 13px 30px;
  align-self: flex-start;
  justify-self: flex-end;
  height: 2.6rem;
  padding: 0 3rem;
  border-radius: calc(var(--ifm-global-border-radius) / 2);
  font-weight: var(--ifm-font-weight-bold);
  font-size: var(--font-size-xs);
}

button:hover {



} */
button:disabled,
button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

input[type="checkbox"] {
  display: flex;
  padding-bottom: 10px;
}
label {
  opacity: 0.8;
}

input[type="checkbox"] {
  margin-right: 12px;
  cursor: pointer;
  min-height: 24px;
  min-width: 24px;
}

@media (max-width: 996px) {
  .contact__form__submit__button {
    padding: 0 1rem;
    font: inherit;
    color: inherit;
    background-color: var(--palette-darky);
    color: var(--palette-text);
    border: rgb(226, 232, 240);
    cursor: pointer;
    padding: 0.75rem 2rem;
    width: fit-content;
    align-self: flex-start;
    justify-self: flex-end;
    border-radius: calc(var(--ifm-global-border-radius) / 2);
    font-weight: var(--ifm-font-weight-bold);
    font-size: 12px;
  }
}
