.jumbotron {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  align-items: center;
  justify-content: center;
}

.jumbotron__cta {
  display: flex;
  margin-top: 2.9rem;
  margin-bottom: 1rem;
  align-self: center;
  justify-content: center;
}
.social__cta {
  display: flex;
  margin-top: 2rem;

  align-self: center;
  justify-content: center;
}

.jumbotron__link {
  flex: 0 0 175px;
  padding: 0;
  justify-content: center;
}

.social__link {
  flex: 0 0 150px;
  padding: 0;
  margin-left: 1rem;
  justify-content: center;
  font-size: var(--font-size-xs);
  color: var(--palette-dark);
  font-weight: var(--ifm-font-weight-semibold);
  margin-bottom: 1rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: var(--ifm-global-border-radius);
}
.social__link:hover {
  background-color: var(--theme-button-secondary-background-color);
  color: var(--palette-dark);
}
html[data-theme="dark"] .social__link {
  background-color: var(--palette-gray);
}

html[data-theme="dark"] .social__link:hover {
  background-color: rgba(120, 147, 222, 0.081);
}

.jumbotron__link:not(:last-child) {
  margin-right: 1rem;
}

.jumbotron__description {
  margin: 0;

  color: var(--palette-pink);
  font-size: var(--font-size-large);
}

@media (max-width: 996px) {
  .jumbotron {
    padding-top: 0;
    align-items: center;
    flex-basis: auto;
  }
  .jumbotron__description {
    padding: 0;
  }

  .jumbotron__cta {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .jumbotron__link {
    flex-shrink: 0;
  }
}
@media screen and (max-width: 576px) {
  .social__link {
    flex-shrink: 0;
  }
  .social__cta {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
