.footer {
  display: flex;
  flex-direction: column;
  background: var(--palette-rock);
}

.footer--alt {
  background: var(--palette-charade);
}

.footer__inner {
  flex: 1;
}

.footer__column {
  display: flex;
}

.footer__column--left {
  margin-right: 1rem;
  flex-direction: column;
}

.footer__column--right {
  width: 75%;
  margin-left: 2rem;
}

.footer__logo {
  align-self: flex-start;
  margin-bottom: 0.75rem;
}

.footer__tagline {
  max-width: 380px;
  margin-bottom: 1rem;
  font-size: var(--font-size-xs);
  color: var(--palette-white);
}

.footer__github {
  align-self: flex-start;
  font-size: var(--font-size-xs);
}

.footer__links {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer__title {
  margin-bottom: 1.25rem;
  font-weight: var(--ifm-font-weight-bold);
  font-size: var(--font-size-xs);
  list-style: none;
  color: var(--palette-white-darker);
}

.footer__link {
  margin-bottom: 0.6rem;
  flex: 1;
  color: var(--palette-white);
  font-size: var(--font-size-xs);
}
.footer__link:hover {
  text-decoration: none;
}

.footer__bottom {
  display: flex;
  height: 4.75rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--palette-white-10);
}

.footer__items {
  padding: 0;
}

.footer__item {
  display: flex;
  list-style: none;
}

.footer__copyright {
  text-align: center;
  justify-content: center;
  display: flex;
  max-width: var(--ifm-container-width);
  width: 100%;
  margin: 0;
  padding: 0 1rem;
  font-size: var(--font-size-xs);
  color: var(--palette-white-darker);
}

.footer__socials {
  padding: 0;
}

.footer__socials > li {
  list-style: none;
  display: inline-block;
  margin-right: 0.5rem;
  padding-top: 1rem;
}

.footer__socials > li > a {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--palette-white);
  background: var(--palette-pale-blue);
  /* transition: transform 250ms ease-in; */
  transition: background-color 250ms ease-in;
}

:global(html[data-theme="dark"]) .footer__socials > li > a {
  color: var(--palette-white);
  background: #52556b;
}

:global(html[data-theme="dark"]) .footer__socials > li > a:hover {
  background-color: var(--palette-sky);
  /* transform: translateY(-10px); */
}

.footer__socials > li > a:hover {
  background-color: var(--palette-pink);
  /* transform: translateY(-10px); */
}

.footer__socialsheader {
  padding-top: 1.5rem;
  margin-bottom: 0;
  color: var(--palette-white);
  font-weight: var(--ifm-font-weight-bold);
  font-size: var(--font-size-xs);
}

@media (max-width: 996px) {
  .footer__column--left {
    margin: 0;
  }

  .footer__column--right {
    margin: 0;
    margin-top: 3rem;
    flex: 1;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer__tagline {
    max-width: none;
  }

  .footer__links {
    min-width: 6rem;
    flex: 0 1 auto;
  }
  .footer__column {
    display: flex;
  }
}

@media (max-width: 640px) {
  .footer__column--right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    /* justify-items: last baseline; */
  }
}
